*{
    font-family: 'Poppins', sans-serif;
}

.introduction-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction-container h1{
    color: #ffffff;
    padding: 10px;
    font-size: 3em;
    font-family: calibri;
}

.box-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    text-decoration: none;
}

.box{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 12px var(--clr);
    border-radius: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.angle-brackets{
width: 50px;
height: 60%;
  position: relative;
  cursor: pointer;
  float: left;
}

.angle-brackets span{
    background-color: #fb2f6d;
      position: absolute;
      width: 100%;
      height: 3px;
      top: 50%;
      transform: rotate(90deg);
      transition: background 0.4s;
}