*{
    font-family: 'Poppins', sans-serif;
}

.introduction-container{
    margin-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction-container h1{
    color: #ffffff;
    padding: 10px;
    font-size: 3em;
    font-family: calibri;
}

.button-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-discord{
    width: 200px;
    height: 70px;
    color: white;
    background: var(--clr);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.4s;
    font-size: 2em;
    font-family: calibri;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    margin: 0 20px 0 20px;
}

.button-discord:hover{
    box-shadow: inset 200px 0 0 0 #f9e506;
    color: #000000;
    border-radius: 5px;
}

.button-Recrutements{
    border: none;
    width: 200px;
    height: 70px;
    color: white;
    background: var(--clr);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.4s;
    font-size: 2em;
    font-family: calibri;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 20px 0 20px;
}

.button-Recrutements:hover{
    box-shadow: inset 200px 0 0 0 #f9e506;
    color: #000000;
    border-radius: 5px;
}

@media screen and (max-width: 460px) {
    .button-container{
        flex-direction: column;
        padding: 0;
    }

    .button-discord,
    .button-Recrutements{
        width: 150px;
        height: 60px;
        font-size: 1.5em;
    }
    .button-Recrutements{
        margin: 20px 0 20px 0;
    }
}

.members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14191E;
}

.members-title-container{
    padding: 20px;
    font-family: calibri;
    text-align: left;
    font-weight: bold;
}

.members-title-container h1{
    color: #ffffff;
    font-size: 2em;
}

.members-title-container p{
    color: #868484;
    font-size: 1.3em;
}

.card-container{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.swiper-pagination-bullet{
    background: #ffffff!important;
}

.swiper-button-prev{
    color: #ffffff!important;
}

.swiper-button-next{
    color: #ffffff!important;
}

