.information-all-achievement-card-title{
    text-align: left;
}

@media screen and (max-width: 820px) {
    .achievement-all-background-image-card{
        filter: grayscale(100%);
    }

    .information-all-achievement-card span{
        max-height: fit-content;
    }

    .details-all-achievement-card{
        padding: 10px 10px;
    }
}

@media screen and (max-width: 420px) {
    .achievement-all-card{
        width: 75%;
        height: 50%;
    }

    .information-category-achievement-card span{
        font-size: 0.7em;
    }

    .information-category-achievement-card p{
        font-size: 1em;
    }
}
